.profile__raidbot {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 12px;
  margin: 0;
  max-width: 300px;
  min-width: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: #ffbb33;
  opacity: 1;
  transition: 0.3s;
  border: 2px solid #636367;
  border-radius: 5px;
  padding: 10px;
  background-color: #292929;
}

.profile__raidbot:hover {
  cursor: pointer;
  transform: scale(1.02);
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .profile__raidbot {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
